.vscode
node_modules
dist
*.log
yarn.lock
*.DS_Store
/src/server/*
*.zip
public/favicon.png

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
