@media screen and (min-width: 960px) {
    .animated.slide-left {
        animation: slide-left 2s ease both;
        -webkit-animation: slide-left 2s ease both;
    }

    .animated.slide-right {
        animation: slide .75s ease both;
    }

    .animated.delay-halfsecond {
        animation-delay: .5s;
    }
}

@-webkit-keyframes slide-left {
    0% { left: -1000px; opacity: 0; }
    100% { left: 0; opacity: 100%; }
}

@keyframes slide-left {
    0% { left: -1000px; opacity: 0; }
    100% { left: 0; opacity: 100%; }
}
