body {
    background-color: #dee7e5 !important;
    /* font-family: "Montserrat",sans-serif; */
}

svg#footer-svg {
    transform: rotate(-90deg);
    position: relative;
    border: 4px solid #48c08c;
    border-radius: 32px;
    transition: background-color .5s ease, border-color .1s ease !important;
}

.footer-svg-hover {
    cursor: pointer !important;
    background-color: #48c08c !important;
    border-color: white !important;
}

path#footer-path {
    transition: fill .3s ease !important;
}

.footer-path-hover {
    fill: white;
}

#bottom-padding {
    padding-bottom: 10rem;
    display: block;
    background-color: white; 
    border-width: 8px 0 0 0;
    border-style: none;
    border-color: #48c08c;
}