.experience-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.experience-title {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    opacity: 0.9;
    line-height: 1;
}

.experience-subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
    color: #38A475;
}

ul.experience-list {
    list-style: none;
}

ul.experience-list li {
    position: relative;
    padding-bottom: .25rem;
}

ul.experience-list > li > .dot {
    position: absolute;
    top: .3em;
    left: -2em;
    color: #38A475;
    background-color:#38A475;
    width: .7em;
    height: .7em;
    
}