.experience-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.experience-title {
    font-size: 2.3rem;
    font-weight: 500;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Rubik', sans-serif;
    opacity: 0.9;
    line-height: 1;
}

.experience-subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
    color: #38A475;
}

ul.experience-list {
    list-style: none;
}

ul.experience-list > li > span:before {
    content: "\25a0";
    vertical-align: middle;
    position: absolute;
    left: 2rem;
    color: #38A475;
    line-height: 1.2em;
}