.nav-link.menu-item {
    color: rgba(255,255,255,.9) !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: 100%;
}

.nav-link.menu-item:hover {
    color: #48c08c !important;
    cursor: pointer;
}

.nav-link.menu-item.active {
    color: #48c08c !important;
}

.nav-link.icon:hover {
    color: #ffffff !important;
    cursor: pointer;
}

#navbarToggleExternalContent {
    background-color: #212c36;
}

#navbarToggleExternalContent > ul{
    list-style: none;
}