.card-base {
    color: #000000 !important;
    background-color: #000000 !important;
}

.card-image {
    transition: opacity 0.2s !important;
    -webkit-transition: opacity 0.2s !important;
    opacity: 1;
}

.image-hover {
    opacity: .1 !important;
}

.card:hover {
    cursor: pointer;
}

.card-content {
    top: 10%;
    width: 100%;
    text-align: center;
    opacity: 0 !important;
    transition: opacity 0.2s !important;
    -webkit-transition: opacity 0.2s !important;
}

.card-content-hover {
    opacity: 1 !important;
}

.card-title {
    letter-spacing: 0px;
    line-height: 150%;
    font-family: 'Rubik', sans-serif;
    font-size: calc(8px + .5vw + 1vh);
    font-weight: 700;
    color: #d8e3e2;
    margin-bottom: 0px !important;
}

.project-tool {
    letter-spacing: 0px;
    line-height: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: calc(7px + .4vw + .5vh);
    color: #48c08c;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #48c08c;
}

.card-content .btn {
    font-family: 'Rubik', sans-serif;
    color: white !important;
    position: relative; 
    font-size: calc(8px + .4vw + .5vh);
}

.card-content .btn:hover { 
    cursor: pointer;
}

