.splash {
    background: #212c36;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.splash .welcome-text {
    letter-spacing: 0px;
    line-height: 135%;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    color: #d8e3e2;
}

.splash .sub-text {
    letter-spacing: 0px;
    line-height: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    color: #d8e3e2;
}

.splash .welcome-text .highlight {
    color: #48c08c;
    letter-spacing: -2.5px;
    font-weight: 500;
}

.splash .sub-text .highlight {
    color: #48c08c;
    font-weight: 300;
}

.splash .btn {
    font-family: 'Rubik', sans-serif;
}

.splash .btn:hover {
    cursor: pointer;
}

.height-100 {
    height: 100vh;
}

